.btn-login{
    padding: 10px 40px;
    border-radius: 3px;
    background-color: transparent;
    @include font-title(500, 12pt, center);
}

@each $color, $value in $btn-colors {
    
    @if $color == "white" {
        .btn-login-#{$color} {
            border: 1px solid $value;
            color: $value;
    
            &:hover {
                background-color: $value;
                color: #363636;
                transition: 0.5s;
                text-decoration: none;
            }
        }
    }@else {
        .btn-login-#{$color} {
            border: 1px solid $value;
            color: $value;
    
            &:hover {
                background-color: $value;
                color: #fafafa;
                transition: 0.5s;
                text-decoration: none;
            }
        }
    }
    
}

