.banner{
    background: url('background/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-top: 150px;
}

.img-border-games{
    border-right: 5px solid $purple;
}

.img-border-tech{
    border-right: 5px solid $green;
}

.dark-mode img{
    border-radius: 30px;
}