body{
    background-color: $bd-light;
    color: $black;
}

.switchTheme{
    background-color: $bd-dark;
    color: $white;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: $gray; 
}

footer{
    background-color: $footer-color;
}