.modal{
    background-color: #252525ad;
    display: block;
    opacity: 0;
    transition: 0.3s;
}

.modal-content{border: none;}

.modal-body{
    background-color: $white;
    border-radius: 15px;
}

.modal-header, .modal-footer{display: block;}

.modal-title{
    @include font-title(800, 25pt, center);
    color: $orange;
}

.modal-text{
    @include font-text(400, 12pt, justify);
    color: $black;
}