.navbar{background-color: $nav-color;}

.nav-link{
    @include font-text(500, 12pt, center);
    color: $white;
    border-bottom: 2px solid transparent;

    &:hover{
        color: $orange;
        transition: 0.3s;
        border-bottom: 2px solid $orange;
    }
}

.dropdown-item{
    @include font-text(500, 12pt, center);
    color: $black;

    &:hover{
        color: $gray;
        transition: 0.3s;
    }
}

.active{border-bottom: 1px solid $orange;}


