.comunidade{height: 100vh;}

.jumbotron{
    background-color: transparent;
    border: 2px solid #c9c9c9d2;
    border-radius: 0px;
}

#objetivo{margin-top: 150px;}

.modelo{margin-top: 100px;}

.msg{margin-top: 130px;}

.video-disc{
    margin-top: 150px;
    margin-bottom: 50px;
}

.dark-mode{
    position: fixed;
   bottom: 15px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
}