.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $bd-dark;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.link{
    padding: 15px 8px 15px 32px;
    display: block;
    text-decoration: none;
    @include font-title(400, 23pt, center);
    color: $white;
    transition: 0.3s;

    &:hover{
        color: $orange;
        text-decoration: none;
    }
}

.link-disabled{
    cursor: default;
    color: #636363;
}

.fechar{
    font-size: 25px;
    color: $white;
    position: absolute;
    top: 0;
    left: 25px;
    margin-right: 50px;
    cursor: pointer;
}

//redes sociais
.list-group-item{
    background-color: transparent;

    a{
        @include font-title(500, 18pt,left);
        color: $sdnav-link;

        &:hover{
            color: $orange; 
            text-decoration: none;
        }
    }
}