@mixin font-title($weight, $size, $align) {
    font: {
        family: 'Lexend Deca', sans-serif;
        weight: $weight;
        size: $size;
    }
    text-align: $align;
}

@mixin font-text ($weight, $size, $align){
    font: {
        family:'Poppins', sans-serif;
        weight: $weight;
        size: $size;
    }
    text-align: $align;
}

//Index

#about {

    h1{
        @include font-title(800, 35pt, center);
        color: $orange;
        margin-bottom: 50px;
    }
    
    h2{@include font-title(800, 25pt, left);}
    
    h3{
        @include font-title(800, 35pt, center);
        color: $white;
    }

    h4{
        @include font-text(100, 25pt, left);
        color: $white;
    }
}

//Artigos - modelo

.modelo{
    h1{@include font-title(800, 40pt, center);}

    h4{@include font-text(300, 15pt, center);}

    h5{@include font-title(500, 10pt, center);}

    p{@include font-text(500, 12pt, justify);}
}  

h1{@include font-title(800, 20pt, left);}

h3{@include font-text(300, 14pt, left);}

h5{
    font: {
        family: 'Staatliches', cursive;
        weight: 400;
        size: 14pt; 
    }
}

h6{@include font-title(400, 10pt, left);}

p{@include font-text(500, 12pt, justify);}


// categoria
.games{
    color: $purple;
    font-size: 18pt;
}

.tech{
    color: $green;
    font-size: 18pt;
}

//media queries

@media (min-width: $breakpoint-sm) {
    #about h3{
        @include font-title(800, 55pt, justify);
        color: $white;
    }
}

@media (max-width: 600px) {
    #about h4{
        @include font-text(100, 15pt, center);
        color: $white;
    }
}


//Form
label{@include font-title(400, 12pt, justify);}

input.form-control{
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid $gray;
    @include font-title(400, 12pt, justify);
}

//footer
.copyright{
    @include font-text(400, 10pt, center);
    color: $white;
}


.way::after{
    content: '';
    width: 3px;
    height: 100px;
    background-color: #c9c9c9;
    display: block;
    margin: 0px auto;
}