
//Colors
$colors: () !default;

$white:        #fafafa !default;
$gray:         #aaaaaa !default;
$black:        #424242 !default;
$green:        #84b361 !default;
$orange:       #f37053 !default;
$purple:       #7150b1 !default;

//body color
$bd-light:     #ececec !default;
$bd-dark:      #212121 !default;

$footer-color: #2d2d2d !default;

//navbar color
$nav-color:    #313338 !default;
$sdnav-link:   #757575 !default;

$btn-colors: () !default;

$btn-colors: map-merge(
    (
    "white" : $white,
    "black" : $black,
    "green" : $green,
    "orange": $orange,
    ), 
    $btn-colors 
);


// Text and font
$breakpoint-sm: 600px !default;










