/*Botão de login*/

.btn-login{
    padding: 10px 40px;
    border-radius: 3px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}

.btn-login-orange{
    border: 1px solid#ff8e77;
    background-color: transparent;
    color: #ff8e77;
}

.btn-login-orange:hover{
    background-color:#ff8e77;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.btn-login-green{
    border:1px solid #93C8B8;
    background-color: transparent;
    color: #93C8B8;
}
                        
.btn-login-green:hover{
    background-color:#93C8B8;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.btn-login-blue{
    border:1px solid #6590D1;
    background-color: transparent;
    color: #6590D1;
}
                        
.btn-login-blue:hover{
    background-color:#6590D1;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.btn-login-white{
    border:1px solid #fafafa;
    background-color: transparent;
    color: #fafafa;
}
                        
.btn-login-white:hover{
    background-color:#fafafa;
    color: #2c2c2c;
    transition: 0.5s;
    text-decoration: none;
}

.btn-login-black{
    border: 1px solid#575757;
    background-color: transparent;
    color: #575757;
}

.btn-login-black:hover{
    background-color:#575757;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}


