body{
    background-color: #fafafa;
    color: #242424;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #b8b8b8;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: #979797; 
}

.banner-games{
    background: url('background/games.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.banner-tech{
    background: url('background/tech.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.banner-podcast{
    margin-top: 30px;
}

#about{
    margin-top: 100px;
}

.jumbotron{
    background-color: #eeeeee;
}

#objetivo{
    margin-top: 150px;
}

.modelo{
    margin-top: 150px;
}

.progress{
    height: 3px;
    width: 0;
}

