/*NAVBAR*/

.navbar{
    background-color: #f3f3f3;
}

.nav-link {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: #555555;
}

.nav-link:hover{
    color: #a5a5a5;
    transition: 0.3s;
}

.dropdown-item{
    font-family: 'lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: #636363;
}

.dropdown-item:hover{
    color: #a5a5a5;
    transition: 0.3s;
}

.active{
    border-bottom: 1px solid #7c7c7c;
}

/*--------------------------------------*/

/*SIDENAV*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #323741fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .link {
    padding: 10px 8px 10px 32px;
    text-decoration: none;
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #fafafa;
    display: block;
    transition: 0.3s;
    text-align: justify;
  }
  
  .link:hover {
    color: #707070;
    text-decoration: none;
  }

  .fechar{
    font-size: 25px;
    color: #fafafa;
    position: absolute;
    top: 0;
    left: 25px;
    margin-right: 50px;
    cursor: pointer;
}

/*----------------------------------*/

/**/

.list-group-item{
    background-color: transparent;
}

.list-group-item a{
    font-family: 'Lexend Deca',sans-serif; 
    font-weight: 500; 
    font-size:  18pt; 
    color: #3d3d3d;
}

.list-group-item a:hover{color: #9e9e9e; text-decoration: none;}
 
/*----------------------------------*/


