/*Text config - Titulos para todas as paginas*/
.card{
    margin-top: 250px;
    border: 0px;
}

.card-body{
    border: none;
    border-radius: 0px;
    padding: 5px 0px;
}

.card-body h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 50pt;
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
}

.subtitle{
    margin-top: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #fafafa;
}


/*Cores*/

.orange{background-color: #ff8e77;}

.green{background-color: #93C8B8;}

.blue{background-color: #6590D1;}

.dark{background-color: #5c5c5c;}




/*--------------------------------------*/
/*about page*/

#about h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 55pt;
    text-align: center;
    color: #242424;
}

@media (max-width: 600px) {
    #about h1{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 800;
        font-size: 35pt;
        text-align: center;
        color: #242424;
    }
}

#about h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 30pt;
    text-align: center;
    color: #242424;
}


#about h1::after {
    content: '';
    width: 100px;
    height: 10px;
    background-color: #dae78e;
    display: block;
    margin: 15px auto;
}

.way::after{
    content: '';
    width: 3px;
    height: 100px;
    background-color: #9e9e9e;
    display: block;
    margin: 5px auto;
}

/*-------------------------------------*/

/*modelo page*/

.modelo h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 40pt;
    text-align: center;
}

.modelo h4{
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
}

.modelo h5{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 10pt;
    color: #242424;
    text-align: center;
}

.modelo p{
    font-family: 'QuickSand', sans-serif;
    font-weight: 500;
    font-size: 14pt;
    text-align: justify;
}

/*Text config - ARTIGOS*/

h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 30pt;
}

h5{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 14pt;
    color: #fafafa;
}

h6{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}
     
p{
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: justify;
}

/*----------------------------------------*/

/*Text config - Categoria */

.games{
    color: #ff8e77;
    font-size: 14pt;
}

.tech{
    color: #93C8B8;
    font-size: 14pt;
}

.podcast{
    color: #6590D1;
    font-size: 14pt;
}

/*-----------------------------------------*/


.article-link{
    color: #242424;
}

.article-link:hover{
    color: #242424;
    text-decoration: none;
}s

label{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    text-align: justify;
    color: #858585; 
}