body{
    background-color: #f8f8f8;
    color: #353535;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #b8b8b8;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: #979797; 
}

aside{
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #323741;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
}


.list-group-item{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #5c5c5cd5;
    border-radius: 0px;
}

.list-group li{
    font-family: 'Lexend Deca',sans-serif; 
    font-weight: 400; 
    font-size:  18pt; 
    color: #727272;
}

.list-group a{
    font-family: 'Lexend Deca',sans-serif; 
    font-weight: 400; 
    font-size:  15pt; 
    color: #dbdbdb;
}

.list-group a:hover{color: #414141; text-decoration: none;}


/*Text config - ARTIGOS*/

h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 35pt;
    text-align: center;
}

h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 20pt;
}

h5{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 14pt;
    color: #fafafa;
}

h6{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size: 12pt;
}
     
p{
    font-family: 'QuickSand', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: center;
}

/*----------------------------------------*/

/*Text config - Categoria */

.games{
    color: #ff8e77;
    font-size: 14pt;
}

.tech{
    color: #93C8B8;
    font-size: 14pt;
}

.podcast{
    color: #6590D1;
    font-size: 14pt;
}

/*-----------------------------------------*/

.card{
    border: 0;
    box-shadow: 2px 2px 3px rgba(147, 200, 184, 0.863);
}