body{
    background-color: #ececec;
    color: #363636;
}

.switchTheme{
    background-color: #212121;
    color: #fafafa;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 1px;
    background: #aaaaaa; 
}

aside{
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #313338;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
}


.list-group-item{
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #3f3f3fd5;
    border-radius: 0px;
}

.list-group li{
    font-family: 'Lexend Deca',sans-serif; 
    font-weight: 400; 
    font-size:  18pt; 
    color: #727272;
}

.list-group a{
    font-family: 'Lexend Deca',sans-serif; 
    font-weight: 400; 
    font-size:  15pt; 
    color: #fafafa;
}

.list-group a:hover{color: #f37053; text-decoration: none;}


/*Text config - ARTIGOS*/
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 25pt;
    text-align: center;
}

h2{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 800;
    font-size: 30pt;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14pt;
}

h5{
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: 14pt;
}

h6{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 10pt;
}
     
p{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
    color: #aaa9a9;
}

.page-link{
    background-color: transparent;
    border-color: #707070;
    color: #707070;
}

.page-link:hover{
    background-color: transparent;
    color: white;
}
/*----------------------------------------*/

/*Text config - Categoria */

.games{
    color: #ff8e77;
    font-size: 14pt;
}

.tech{
    color: #93C8B8;
    font-size: 14pt;
}

.podcast{
    color: #6590D1;
    font-size: 14pt;
}

/*-----------------------------------------*/

.card{
    border: 1px solid #585858;
    background-color: transparent;
}

.form-control{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #a3a3a3;
    border-radius: 0px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.dark-mode{
    position: fixed;
   bottom: 15px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
   }
   
   .dark-mode img{
       border-radius: 30px;
   }
   

